.wrapper {
    display: inline-flex;
    padding-bottom: 4rem;
    min-width: 100%;
    background-color: darkslategrey;
}

.Backdrop {
    opacity: 0.5;
    min-width: 100%;
}

.MovieInfoCardWrapper {

    align-content: center;
    
}
