.MovieInfoCard {
    position: absolute;
    max-width: 40%;
    left: 10%;
    color: #ffffff;
    top: 20%;

}

.MovieCardTitle {
    margin-bottom: 2rem;

}

.MovieCardButtons {
    margin-bottom: 2rem;

}

.MovieCardDescription {
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;


}