.WishListCarouselItem {
  width: 375px;
  scroll-snap-align: center;
  justify-content: center;
  overflow: hidden;
  aspect-ratio: auto 571 / 857;
  position: relative;
}

.WishListImage {
  display: flex;
  height: 100%;
}

.RemoveFromWishListButton {
  position: absolute;
  left: 0; right: 0;
  bottom: 1rem;
  margin: auto;
}
