.Heading {
    color: #ffffff;
    font-weight: 800;
    line-height: normal;

}
.Heading___h1 {
    font-size: 64px;
    
}
.Heading___h2 {
    font-size: 32px;
}
.Heading___h3 {
    font-size: 18px;
}

.Heading___CarouselItem {
    font-size: 18px;
}