.Heading {
    color: #ffffff;

}
.Heading___h1 {
    font-size: 40px;
}
.Heading___h2 {
    font-size: 32px;
}
.Heading___h3 {
    font-size: 18px;
}

.Heading___CarouselItem {
    font-size: 18px;
}