.Container {
    width: 100%;
}

.Container___sm {
    width: 25%;
}
.Container___md {
    width: 50%;
}

.Container___spacing___sm {
   
}

.Container___spacing___md {
    
}

.Container___spacing___lg {
    
}