.HeroCarouselItem {
    max-height: 100%;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeroCarouselImage {
    height: 100%;
}



@media screen and (min-width: 1200px) {
.HeroCarouselItem {
    width: 375px;
    
}

.HeroCarouselImage {
    height: 100%;
}



}