.CarouselContainer {
    padding-bottom: 1rem;

}

.Carousel {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    gap: 1rem;

    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    flex-flow: nowrap !important;
    cursor: grab;
    scroll-snap-type: x mandatory;
    position: relative;
}

.CarouselWrapper {
    width: auto;
    height: 100%;
    display: flex;
    gap: 0.5rem;
    box-sizing: border-box;
    white-space: nowrap;
    transition: transform 0.3s;
}


