.Carousel {
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    flex-flow: nowrap !important;
    cursor: grab;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
}
.Carousel::-webkit-scrollbar {
    display: none;
}

.CarouselWrapper {
    height: 100%;
    display: flex;
    gap: 1rem;
}



.CarouselItem {
    display: flex;
    border-radius: 10px;
    height: 100%;
    width: 330px;
    scroll-snap-align: center;
    text-align: center;
}

.Spacing___sm {
    gap: 0.5rem
}

.Spacing___md {
    gap: 1rem;
}

.Spacing___lg {
    gap: 1.5rem;
}

@media screen and (min-width: 1200px) {

.Carousel {
    
}
.Carousel::-webkit-scrollbar {
    display: none;
}

.CarouselWrapper {
    gap: 4rem;
}


.CarouselItem {
    display: flex;
    border-radius: 10px;
    height: 100%;
    scroll-snap-align: center;
    text-align: center;
}

.Spacing___sm {
    gap: 0.5rem
}

.Spacing___md {
    gap: 1rem;
}

.Spacing___lg {
    gap: 1.5rem;
}


}